<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logining</title>

</head>
<style>
    body{
        background: antiquewhite;
    }

    .Button{
        background: #7d756b;
        color: white;
        border-radius: 30% 10%;
        border-color:#645e56;
        text-align: center;

        height: 50px;
        width: 100px;

        font-family: "Adelle Sans Devanagari";
    }
    p{
        color: #645e56;
        font-family: "American Typewriter";
        text-align: center;
    }
    .Style{
        text-align: center;
    }




</style>

<body>

<p>Choose Log or Reg</p>

<div class="Style">
<a href="http://localhost:8080/Register"><input type="submit", value="Register" class="Button"></a>
<a href="http://localhost:8080/Login"><input type="submit", value="Login"  class="Button"></a>
</div>


</body>
</html>